@font-face {
    font-family: Digital;
    src: url(../digital-dream.fat-narrow.ttf);
}

$grey: #333333;
$blue: #33D7E8;

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: $grey;
}

header {
  background-color: $grey;
  max-height: 120px;
  min-height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  font-size: 45px;
  text-align: left;
  padding-top: 2%;
  padding-left: 8%;
  a {
    color: white;
    text-decoration: none;
    font-family: Digital, sans-serif;
  }
}

#intro {
  width: 70%;
  margin: auto;
  margin-top: 3%;
  text-align: left;
}

.display {
  background: linear-gradient(135deg, rgba(7,7,7,1) 16%, rgba(12,12,12,1) 36%, rgba(107,107,107,1) 94%, rgba(180,180,180,1) 100%);
  margin: auto;
  text-align: center;
  border: black 4px solid;
  border-radius: 3px;
  box-shadow: inset 0px -2px 8px 3px rgba(0,0,0,0.75), 0px 0px 8px 4px rgba(0,0,0,0.75);
  font-family: Digital, sans-serif;
  color: #33D7E8;
  opacity: 0.8;
  display: inline-block;
  padding: 1% 5% 1% 5%;
}

.text-wrapper {
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

#input-time {
  font-size: 5vw;
  margin-top: 5%;
}

#final-time {
  font-size: 10vw;
}

main {
  width: 80%;
  border: 5px #33D7E8 solid;
  border-radius: 15px;
  margin: auto;
  margin-top: 3%;
  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
  .input {
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    cursor: pointer;
  }
  .label {
    display: block;
    margin-top: 20px;
  }
  #submit-button {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border: 2px $blue solid;
    border-radius: 3px;
    background-color: white;
    padding: 5px 25px 5px 25px;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
    cursor: pointer;

    &:active {
      box-shadow: none;
      margin-top: 27px;
      margin-bottom: 23px;
    }
  }
  #timezone-input {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 1.3vw;
  }
  #url {
    font-size: 1.3vw;
    margin-bottom: 35px;
    background-color: $grey;
    color: white;
    border-radius: 5px;
    display:inline-block;
    a {
      color: white;
      text-decoration: none;
      &:active {
        color: $blue;
      }
    }
  }
}
